## 거주인구 데이터 전처리_월평균

In [2]:
import pandas as pd

PATH = '../data/'
df = pd.read_csv(PATH + '2021_행정동별_거주인구_231015.csv')

In [3]:
df

,행정동코드,연도,월,연령대_I00,연령대_0_거주인구수,연령대_10_거주인구수,연령대_20_거주인구수,연령대_30_거주인구수,연령대_40_거주인구수,연령대_50_거주인구수,연령대_60_거주인구수,연령대_70_거주인구수,연령대_80_거주인구수,연령대_90_거주인구수
0,11110515,2021,1,20,823,1165,1590,1683,2148,1981,1395,1008,536,77
1,11110515,2021,2,20,793,1159,1587,1651,2157,1973,1399,999,537,78
2,11110515,2021,4,7,785,1144,1575,1608,2125,1917,1372,941,520,69
3,11110515,2021,5,7,776,1146,1565,1601,2122,1914,1379,943,519,70
4,11110515,2021,6,7,773,1142,1573,1599,2112,1910,1383,939,514,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4653,11740700,2021,8,14,1696,2052,3394,3604,3713,4100,3763,1724,637,115
4654,11740700,2021,9,14,1681,2029,3374,3614,3679,4101,3773,1719,638,116
4655,11740700,2021,10,14,1683,2037,3363,3612,3692,4087,3791,1710,653,117
4656,11740700,2021,11,15,1675,2041,3343,3614,3669,4099,3779,1709,649,116
4657,11740700,2021,12,4,1659,2026,3342,3611,3666,4098,3776,1707,660,112

In [4]:
dfs = df.groupby(['행정동코드', '연도'])[
    '연령대_I00', '연령대_0_거주인구수', '연령대_10_거주인구수', '연령대_20_거주인구수',
    '연령대_30_거주인구수', '연령대_40_거주인구수', '연령대_50_거주인구수',
    '연령대_60_거주인구수', '연령대_70_거주인구수', '연령대_80_거주인구수',
    '연령대_90_거주인구수'].sum() / 12

/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_28703/1416830524.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dfs = df.groupby(['행정동코드', '연도'])[

In [5]:
dfs

,,연령대_I00,연령대_0_거주인구수,연령대_10_거주인구수,연령대_20_거주인구수,연령대_30_거주인구수,연령대_40_거주인구수,연령대_50_거주인구수,연령대_60_거주인구수,연령대_70_거주인구수,연령대_80_거주인구수,연령대_90_거주인구수
행정동코드,연도,,,,,,,,,,,
11110515,2021,7.583333,707.833333,1053.416667,1443.333333,1473.500000,1937.250000,1766.916667,1274.666667,869.416667,480.000000,67.083333
11110530,2021,6.166667,514.833333,619.916667,1124.000000,1335.000000,1348.833333,1400.416667,1107.916667,669.083333,427.166667,78.333333
11110540,2021,5.166667,94.333333,164.750000,290.333333,296.416667,323.750000,358.666667,375.416667,232.833333,131.833333,25.333333
11110550,2021,5.250000,476.083333,808.416667,1169.083333,1111.333333,1460.000000,1545.083333,1218.500000,700.166667,353.416667,68.416667
11110560,2021,9.583333,1057.750000,1468.916667,2198.500000,2021.916667,2476.500000,2983.083333,2400.500000,1220.583333,714.083333,147.333333
...,...,...,...,...,...,...,...,...,...,...,...,...
11740650,2021,10.000000,959.250000,1059.833333,3553.583333,3911.583333,3071.916667,3459.500000,3413.583333,1737.833333,647.333333,74.000000
11740660,2021,6.750000,1118.583333,1593.166667,3321.000000,3201.250000,3267.083333,3642.916667,3054.500000,1561.833333,522.250000,75.250000
11740685,2021,12.166667,2213.083333,2638.000000,6484.666667,6851.833333,6238.500000,6737.500000,6627.000000,3103.000000,1053.500000,174.000000
11740690,2021,2.083333,2.750000,5.750000,15.250000,13.333333,26.416667,19.000000,32.333333,15.083333,5.500000,4.000000
11740700,2021,11.416667,1561.416667,1892.833333,3163.250000,3346.500000,3411.250000,3799.833333,3455.250000,1578.250000,579.166667,107.000000

In [6]:
dfs.rename(columns = {'연령대_I00': '연령대_100'},inplace = True)

In [7]:
dfs.reset_index(inplace = True)

In [8]:
dfs

,행정동코드,연도,연령대_100,연령대_0_거주인구수,연령대_10_거주인구수,연령대_20_거주인구수,연령대_30_거주인구수,연령대_40_거주인구수,연령대_50_거주인구수,연령대_60_거주인구수,연령대_70_거주인구수,연령대_80_거주인구수,연령대_90_거주인구수
0,11110515,2021,7.583333,707.833333,1053.416667,1443.333333,1473.500000,1937.250000,1766.916667,1274.666667,869.416667,480.000000,67.083333
1,11110530,2021,6.166667,514.833333,619.916667,1124.000000,1335.000000,1348.833333,1400.416667,1107.916667,669.083333,427.166667,78.333333
2,11110540,2021,5.166667,94.333333,164.750000,290.333333,296.416667,323.750000,358.666667,375.416667,232.833333,131.833333,25.333333
3,11110550,2021,5.250000,476.083333,808.416667,1169.083333,1111.333333,1460.000000,1545.083333,1218.500000,700.166667,353.416667,68.416667
4,11110560,2021,9.583333,1057.750000,1468.916667,2198.500000,2021.916667,2476.500000,2983.083333,2400.500000,1220.583333,714.083333,147.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,11740650,2021,10.000000,959.250000,1059.833333,3553.583333,3911.583333,3071.916667,3459.500000,3413.583333,1737.833333,647.333333,74.000000
420,11740660,2021,6.750000,1118.583333,1593.166667,3321.000000,3201.250000,3267.083333,3642.916667,3054.500000,1561.833333,522.250000,75.250000
421,11740685,2021,12.166667,2213.083333,2638.000000,6484.666667,6851.833333,6238.500000,6737.500000,6627.000000,3103.000000,1053.500000,174.000000
422,11740690,2021,2.083333,2.750000,5.750000,15.250000,13.333333,26.416667,19.000000,32.333333,15.083333,5.500000,4.000000
423,11740700,2021,11.416667,1561.416667,1892.833333,3163.250000,3346.500000,3411.250000,3799.833333,3455.250000,1578.250000,579.166667,107.000000

In [9]:
# 새로운 열 이름을 생성
new_column_names = {
    '연령대_100': '월평균_연령대_100',
    '연령대_0_거주인구수': '월평균_연령대_0_거주인구수',
    '연령대_10_거주인구수': '월평균_연령대_10_거주인구수',
    '연령대_20_거주인구수': '월평균_연령대_20_거주인구수',
    '연령대_30_거주인구수': '월평균_연령대_30_거주인구수',
    '연령대_40_거주인구수': '월평균_연령대_40_거주인구수',
    '연령대_50_거주인구수': '월평균_연령대_50_거주인구수',
    '연령대_60_거주인구수': '월평균_연령대_60_거주인구수',
    '연령대_70_거주인구수': '월평균_연령대_70_거주인구수',
    '연령대_80_거주인구수': '월평균_연령대_80_거주인구수',
    '연령대_90_거주인구수': '월평균_연령대_90_거주인구수'
}

# 열 이름을 변경
df.rename(columns=new_column_names, inplace=True)

In [17]:
dfs.to_csv(PATH + '2021_행정동별_월평균_거주인구.csv',encoding = 'utf-8-sig', index = False)